{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <h1>About Us</h1>
</div>
<div class="row no-gutters">
    <div class="col-lg-6 col-12 about-image">
        <div class="page-container text-center m-3">
        </div>
    </div>
    <div class="col-lg-6 col-12 text-center">
        <p class="m-3 p-3">
           {{about1.content}}
        </p>
        <br>
        <h3>Reviews <i class="fa-solid fa-star" style="color: 	
            #ffdf00;"></i></h3>
        <div class="review-holder">
            <div class="review-card p-3 row">
                <!--<div class="col-md-4 col-12 p-3 text-left">

                    <h4>Chloe</h4>
                    <p class="muted">Aug 2023</p>
                    <p>Very comfortable beds and helpful host, shared kitchen area much bigger than it looks in the
                        photos and the honesty box shop was very useful .</p>
                    <p><em>airbnb</em></p>
                </div>

                <div class="col-md-4 col-12 p-3 text-left">

                    <h4>Chloe</h4>
                    <p class="muted">Aug 2023</p>
                    <p>Very comfortable beds and helpful host, shared kitchen area much bigger than it looks in the
                        photos and the honesty box shop was very useful .</p>
                    <p><em>Facebook</em></p>
                </div>
                <div class="col-md-4 col-12 p-3 text-left">

                    <h4>Chloe</h4>
                    <p class="muted">Aug 2023</p>
                    <p>Very comfortable beds and helpful host, shared kitchen area much bigger than it looks in the
                        photos and the honesty box shop was very useful .</p>
                    <p><em>airbnb</em></p>
                </div> -->
                <div id="carouselExampleSlidesOnly" class="carousel m-3 slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item p-3 active">
                            <h4>Chloe</h4>
                            <p class="muted">Aug 2023</p>
                            <p><q>Very comfortable beds and helpful host, shared kitchen area much bigger than it looks in
                                the photos and the honesty box shop was very useful.</q></p>
                            <p><em>Facebook</em></p>
                        </div>
                        <div class="carousel-item p-3">
                            <h4>Chloe</h4>
                            <p class="muted">Aug 2023</p>
                            <p><q>Very comfortable beds and helpful host, shared kitchen area much bigger than it looks in
                                the photos and the honesty box shop was very useful.</q></p>
                            <p><em>Facebook</em></p>
                        </div>
                        <div class="carousel-item p-3">
                            <h4>Chloe</h4>
                            <p class="muted">Aug 2023</p>
                            <p><q>Very comfortable beds and helpful host, shared kitchen area much bigger than it looks in
                                the photos and the honesty box shop was very useful.</q></p>
                            <p><em>Facebook</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
