{% extends "base.html" %}

{% block content %}
<div class="page-container text-center m-3">
    <h1>Book Online</h1>
    <hr>
    <h3>Check availability via the online booking widget below.</h3>
    <p>If you don’t find availability for the dates required, please call us on 01838400220 or email info@bridgeoforchyoutdoors.co.uk and we will do our best to help.</p>
    <p>Book direct via our online booking system to receive our best available rates.</p>
    <p>Check in from 3.30-7.30pm.  Late check in by arrangement, please call for details.</p>
</div>

{% endblock %}