{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'home/js/booking.js'  %}" defer></script>
{% endblock %}

{% block content %}
<div class="page-container text-center m-3">
        <h1>Book Online</h1>
        <hr>
        <h3>Check availability via the online booking widget below.</h3>
        <p>If you don’t find availability for the dates required, please call us on 01838400220 or email
                info@bridgeoforchypods.co.uk and we will do our best to help.</p>
        <p>Book direct via our online booking system to receive our best available rates.</p>
        <p>Check in from 3.30-7.30pm. Late check in by arrangement, please call for details.</p>
        <div class="booking-engine">
                <h3>Choose date</h3>
                <form action="{% url 'booking' %}" method="get" enctype="multipart/form-data">
                        <select onchange="changeContent()" name="month-selector" id="month-selector">
                                <option value="" readonly>Select Month</option>
                                <option id="month9" value="2023-09-30">September 2023</option>
                                <option id="month10" value="2023-10-31">October 2023</option>
                                <option id="month11" value="2023-11-30">November 2023</option>
                        </select>
                        <button type="submit" class="btn btn-primary m-3">Submit</button>
                </form>
                <hr>
                <div class="text-center">
                        <h3 id="monthSelect">{{ date1|date:'F Y' }}</h3>
                </div>
                <div class="d-flex row no-gutters justify-content-center" id="days">
                        <div class="pr-3 col-lg-2 col-md-12 booking-title">Dates</div>
                        <div class="col-lg-2 col-md-12 p-0 d-flex">
                                <div class="booking-square">{{ date1|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date2|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date3|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date4|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date5|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date6|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date7|date:"D"|slice:"2" }}</div>
                        </div>
                        <div class="col-lg-2 col-md-12 p-0 d-flex d-day">
                                <div class="booking-square">{{ date8|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date9|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date10|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date11|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date12|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date13|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date14|date:"D"|slice:"2" }}</div>
                        </div>
                        <div class="col-lg-2 col-md-12 p-0 d-flex d-day">
                                <div class="booking-square">{{ date15|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date16|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date17|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date18|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date19|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date20|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date21|date:"D"|slice:"2" }}</div>
                        </div>
                        <div class="col-lg-2 col-md-12 p-0 d-flex d-day">
                                <div class="booking-square">{{ date22|date:"D"|slice:"2"|slice:"2" }}</div>
                                <div class="booking-square">{{ date23|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date24|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date25|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date26|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date27|date:"D"|slice:"2" }}</div>
                                <div class="booking-square">{{ date28|date:"D"|slice:"2" }}</div>
                        </div>
                        <div class="col-lg-2 col-md-12 p-0 d-flex d-day">
                                <div class="booking-square" id="day29">{{ date29|date:"D"|slice:"2" }}</div>
                                <div class="booking-square" id="day30">{{ date30|date:"D"|slice:"2" }}</div>
                                <div class="booking-square" id="day31">{{ date31|date:"D"|slice:"2" }}</div>
                                <div class="booking-square"></div>
                                <div class="booking-square"></div>
                                <div class="booking-square"></div>
                                <div class="booking-square"></div>
                        </div>

                </div>
                {% include 'home/includes/podA.html' %}
                {% include 'home/includes/podB.html' %}
        </div>
        <div class="row no-gutters">
                <div class="col-lg-2"></div>
                <div class="col-lg-3 col-4">
                        <div class="available_square"> <span class="ml-5">Available</span></div>
                </div>
                <div class="col-lg-3 col-4">
                        <div class="booked_square"> <span class="ml-5">Booked</span></div>
                </div>
                <div class="col-4">
                        <div class="unavailable_square"> <span class="ml-5">Unavailable</span></div>
                </div>
        </div>
        <div class="row no-gutters mt-5">
                <div class="col-lg-1"></div>
                <div class="col-lg-2 col-6 text-left">
                        <h5>Pets</h5>
                        <p>Sorry, no pets</p>
                </div>
                <div class="col-lg-2 col-6 text-left">
                        <h5>Children</h5>
                        <p>All ages welcome</p>
                </div>
                <div class="col-lg-2 col-6 text-left">
                        <h5>Smoking</h5>
                        <p>Strictly no smoking</p>
                </div>
                <div class="col-lg-2 col-6 text-left">
                        <h5>Accepted Payments</h5>
                        <p>Cash, Visa, Mastercard, Maestro</p>
                </div>
                <div class="col-lg-2 col-6 text-left">
                        <h5>Check-in, Check-out times</h5>
                        <p>Earliest check in is 3.30pm. Latest check in is 7.30pm.<br> We kindly ask that you check out by 10.00am.</p>
                </div>
        </div>
</div>
</div>

<!-- No availability Modal -->
<div class="modal fade" id="no_availability" tabindex="-1" role="dialog" aria-labelledby="no_availability"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header border-0">
                        </div>
                        <div class="modal-body text-center">
                                <h3>Sorry!</h3>
                                <p>
                                        No availability for this pod on this day.
                                </p>
                        </div>
                        <div class="modal-footer border-0">
                                <button type="button" class="btn btn-secondary btn-danger"
                                        data-dismiss="modal">Close</button>
                        </div>
                </div>
        </div>
</div>

<!-- Booking Modal -->
<div class="modal fade" id="availability" tabindex="-1" role="dialog" aria-labelledby="availability" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5>Booking Summary</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <form action="">
                                <div class="form-group">
                                        <div class="modal-body">
                                                <h5>Beinn Monk</h5>
                                                <div class="muted">
                                                        <p class="d-none" id="firstDate">{{firstDate}}</p>
                                                        <p>Arrival Date: <span class="float-right" id="dateTest"></span></p>
                                                        <p>Max occupancy: <span class="float-right">Sleeps 2</span></p>
                                                </div>
                                                <div class="text-center">
                                                        <select class="border-info p-2 rounded-2"
                                                                oninput="changeBooking()" name="nights" id="nights">
                                                                <option id="dep1" value="1">1 night - Departing Wed 31 Aug
                                                                </option>
                                                                
                                                                <option id="dep2" value="2">2 nights - Departing Thu 1 Sep
                                                                </option>
                                                                <option id="dep3" value="3">3 nights - Departing Fri 2 Sep
                                                                </option>
                                                                <option id="dep4" value="4">4 nights - Departing Sat 3 Sep
                                                                </option>
                                                        </select>
                                                </div>
                                                <div>
                                                        <p>Room only <span class="float-right">£<span
                                                                                id="rate_rm1">75</span>.00</span> </p>

                                                </div>
                                                <div>
                                                        <p>Total Cost <span class="float-right">£<span
                                                                                id="rate_total"></span>.00</span> </p>
                                                                                

                                                </div>

                                                <div id="guest_info" class="d-none">
                                                        <hr>
                                                        <div class="p-2">
                                                                <input class="form-control w-75 rounded-2 border-info"
                                                                        type="text" name="firstname" id="firstname"
                                                                        placeholder="Firstname">
                                                        </div>
                                                        <div class="p-2">
                                                                <input class="form-control w-75 rounded-2 border-info"
                                                                        type="text" name="lastname" id="lastname"
                                                                        placeholder="Lastname">
                                                        </div>
                                                        <div class="p-2">
                                                                <input class="form-control w-75 rounded-2 border-info"
                                                                        type="text" name="phone" id="phone"
                                                                        placeholder="Phone number">
                                                        </div>
                                                        <div class="p-2">
                                                                <input class="form-control w-75 rounded-2 border-info"
                                                                        type="email" name="email" id="email"
                                                                        placeholder="Email">
                                                        </div>
                                                        <div class="p-2">
                                                                <textarea
                                                                        class="form-control w-75 rounded-2 border-info"
                                                                        name="notes" id="notes" cols="30" rows="5"
                                                                        placeholder="Notes"></textarea>
                                                        </div>
                                                        <div class="form-check py-1">
                                                                <input type="checkbox" class="form-check-input"
                                                                        id="terms">
                                                                <label class="form-check-label" for="terms"> I accept
                                                                        the <a href="http://" target="_blank"
                                                                                rel="noopener noreferrer">Terms and
                                                                                Conditions</a></label>
                                                        </div>
                                                </div>
                                                <div id="booking_step" class="float-right p-2">`
                                                        <button type="button" id="booking_step1"
                                                                onclick="display_guestInfo()"
                                                                class="btn btn-secondary btn-success"
                                                                data-dismiss="modal">Continue Booking</button>
                                                </div>
                                        </div>
                                        <div id="booking_submit" class="modal-footer border-0 d-none float-right">
                                                <button type="button" class="btn btn-secondary btn-success"
                                                        data-dismiss="modal">Book</button>
                                                <button type="button" class="btn btn-secondary btn-danger"
                                                        data-dismiss="modal">Cancel</button>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</div>

{% endblock %}