{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'home/js/booking_details.js'  %}" defer></script>
{% endblock %}

{% block content %}
<div class="page-container text-center m-3">
        <h1>Room Details</h1>
        {{form.errors}}
        <br>
        <div class="row no-gutters">
                <div class="offset-lg-2 col-lg-8 bg-info">
                        <h3 class="text-white">Beinn Moink</h3>
                </div>
                <div class="offset-lg-2 col-lg-2 col-6 border room_details p-2">
                        <p class="muted">Arriving:</p>
                        <p>{{date_one|date:'D, d M Y'}}</p>
                </div>
                <div class="col-lg-2 col-6 border room_details p-2">
                        <p class="muted">Departing:</p>
                        <select class="border-info p-1 room_details rounded-2" oninput="changeBooking()" id="select_nights">
                                <option id="dep1" value="1">1 night - {{dep1|date:'D d M'}}
                                </option>
                                {% if not PodAnight_two %}
                                <option id="dep2" value="2">2 nights - {{dep2|date:'D d M'}}
                                </option>
                                {% if not PodAnight_three %}
                                <option id="dep3" value="3">3 nights - {{dep3|date:'D d M'}}
                                </option>
                                {% if not PodAnight_four %}
                                <option id="dep4" value="4">4 nights - {{dep4|date:'D d M'}}
                                </option>
                                {% endif %}
                                {% endif %}
                                {% endif %}
                        </select>
                </div>
                <div class="col-lg-2 border col-6 room_details p-2">
                        <p class="muted">Guests:</p>
                        <input type="number" class="border-info p-1" id="occupancy" min="1" oninput="changeBooking()"
                                max="2" placeholder="0" required>
                </div>
                <div class="col-lg-2 col-6 border room_details p-2">
                        <p class="muted">Rate per night:</p>
                        <p>£<span id="rate_rm1">80</span>.00</p>
                </div>
                <div class="offset-lg-2 col-lg-4 col-12">
                        <div class="booking-image"></div>
                </div>
                <div class="col-lg-4 col-12">
                        <div class="text-left p-2">
                                <h4>About this space</h4>
                                <p>Located on the West Highland Way at Bridge of Orchy our Eco Pods were
                                        designed and
                                        built in Finland in 2016. They each sleep a maximum of 2 adults and have
                                        views
                                        to the River Orchy and Ben Dorain. Bed lined included.
                                        <h4>The space</h4>
                                        <p>A wet room with toilet and shower is 3 min walk from the Pods.
                                                Food can be ordered at The Bridge of Orchy Hotel, which is a 5
                                                minute walk away.
                                                Please note that there are no shops in the village.We only book
                                                a single pod not per person max 2 people per pod.
                                        </p>
                        </div>
                </div>
                <div class="text-left offset-lg-2 bg-secondary col-lg-8 col-12 p-2">
                        <h3 class="text-white">Total Cost: <span class="float-right text-white">£<span
                                                id="rate_total"></span>.00</span></h3>
                </div>
                <div class="border-0 float-right my-3 offset-lg-2 col-lg-8 col-12 p-1">
                        <button type="button" onclick="checkOccupancy()" id="occButton" class="btn btn-info btn-success"
                                data-target="#availability">Continue Booking</button>
                        <a href="{% url 'booking' %}"><button type="button"
                                        class="btn btn-secondary">Cancel</button></a>
                </div>
        </div>

</div>

<!-- Booking Modal -->
<div class="modal fade" id="availability" tabindex="-1" role="dialog" aria-labelledby="availability" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5>Booking Summary</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <form method="POST" action="{% url 'booking_savePodA' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                        <div class="form-group">
                                                <h5>Beinn Monk</h5>
                                                <div class="muted">
                                                        <div class="row d-none">
                                                                <div class="col-3"><label for="podA">Pod:
                                                                        </label></div>
                                                                <div class="col-9"><input type="text"
                                                                                class="border-0 float-left text-left"
                                                                                name="podA" id="podA"
                                                                                value="Beinn Monk">
                                                                </div>
                                                                <div class="col-3"><label for="podA">Booking ID:
                                                                        </label></div>
                                                                <div class="col-9"><input type="text"
                                                                                class="border-0 float-left text-left"
                                                                                name="booking_id" id="booking_id"
                                                                                value='{{booking_id|slice:"10"}}'
                                                                                readonly>
                                                                </div>
                                                        </div>
                                                        <div class="col-9 d-none"><input type="text"
                                                                        class="border-0 float-left text-left"
                                                                        name="arrival_date" id="arrival_date"
                                                                        value="{{date_one|date:'d/m/Y'}}" readonly>
                                                        </div>
                                                        <div class="col-9"><input type="text"
                                                                        class="d-none border-0 float-left text-left"
                                                                        name="arrival_range" id="arrival_range"
                                                                        value="{{date_one|date:'Y-m-d'}}" readonly>
                                                        </div>
                                                        <div class="d-none" id="arrivalDate1">{{date_one|date:'Y-m-d'}}
                                                        </div>
                                                        <div class="d-none" id="depDate1">{{dep1|date:'Y-m-d'}}</div>
                                                        <div class="d-none" id="depDate2">{{dep2|date:'Y-m-d'}}</div>
                                                        <div class="d-none" id="depDate3">{{dep3|date:'Y-m-d'}}</div>
                                                        <div class="row">
                                                                <div class="col-3"><label for="arrival_date">Arrival
                                                                                Date:</label></div>
                                                                <div class="col-9"><input type="text"
                                                                                class="border-0 float-left text-dark text-left"
                                                                                placeholder="{{date_one|date:'D, d m Y'}}"
                                                                                readonly>
                                                                </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-3"><label for="arrival_date">
                                                                                Nights:</label></div>
                                                                <div class="col-9"><input type="text"
                                                                                class="border-0  float-left text-left"
                                                                                name="nights" id="nights" readonly>
                                                                </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-3"><label for="pax">
                                                                                Occupancy:</label></div>
                                                                <div class="col-9"><input type="text"
                                                                                class="border-0  float-left text-left"
                                                                                name="pax" id="pax" readonly>
                                                                </div>
                                                        </div>
                                                        <div class="row">
                                                                <div class="col-3"><label for="arrival_date">
                                                                                Total cost:</label></div>
                                                                <div class="col-9"><span
                                                                                class="float-left">£</span><input
                                                                                type="text"
                                                                                class="border-0  float-left text-left"
                                                                                name="total_cost" id="total_cost">
                                                                </div>
                                                                <div class="col-12 d-none"><input type="text"
                                                                                class="border-0  float-left text-left"
                                                                                name="podA_rate" id="podA_rate"
                                                                                value="80">
                                                                </div>
                                                        </div>
                                                </div>
                                                <hr>
                                                <div class="p-2">
                                                        <input class="text-left form-control ml-0 w-75 rounded-2 border-info"
                                                                type="text" name="fname" id="fname"
                                                                placeholder="Firstname" required>
                                                </div>
                                                <div class="p-2">
                                                        <input class="text-left form-control ml-0 w-75 rounded-2 border-info"
                                                                type="text" name="lname" id="lname"
                                                                placeholder="Lastname" required>
                                                </div>
                                                <div class="p-2">
                                                        <input class="text-left form-control ml-0 w-75 rounded-2 border-info"
                                                                type="text" name="phone_number" id="phone_number"
                                                                placeholder="Phone number" required>
                                                </div>
                                                <div class="p-2">
                                                        <input class="text-left form-control ml-0 w-75 rounded-2 border-info"
                                                                type="email" name="email" id="email" placeholder="Email"
                                                                required>
                                                </div>
                                                <div class="p-2 d-none">
                                                        <input class="text-left form-control ml-0 w-75 rounded-2 border-info"
                                                                type="text" name="status" id="status" value="Booked"
                                                                placeholder="Email">
                                                </div>
                                                <div class="p-2">
                                                        <select class="form-control ml-0 w-75 rounded-2 border-info"
                                                                name="eta" id="eta" required>
                                                                <option value="">Estimated arrival time</option>
                                                                <option value="3:30pm">3:30pm</option>
                                                                <option value="4:00pm">4:00pm</option>
                                                                <option value="4:30pm">4:30pm</option>
                                                                <option value="5:00pm">5:00pm</option>
                                                                <option value="5:30pm">5:30pm</option>
                                                                <option value="6:00pm">6:00pm</option>
                                                                <option value="6:00pm">6:30pm</option>
                                                                <option value="6:00pm">7:00pm</option>
                                                                <option value="6:00pm">7:30pm</option>
                                                        </select>
                                                </div>
                                                <div class="p-2">
                                                        <textarea class="form-control ml-0 w-75 rounded-2 border-info"
                                                                name="notes" id="notes" cols="30" rows="5"
                                                                placeholder="Notes"></textarea>
                                                </div>
                                                <div class="form-check">
                                                        <input class="form-check-input" onchange="validate()"
                                                                type="checkbox" name="terms" value="true" id="terms">
                                                        <label class="form-check-label" for="terms"> I accept
                                                                the <a href="http://" target="_blank"
                                                                        rel="noopener noreferrer">Terms and
                                                                        Conditions</a></label>
                                                </div>

                                                <div id="booking_submit" class="modal-footer border-0 float-right">
                                                        <button type="submit" id="bookingSubmit"
                                                                class="btn btn-secondary btn-info"
                                                                disabled>Book</button>
                                                        <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Cancel</button>
                                                </div>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
        function validate() {
                var terms = document.getElementById("terms");
                var bookingSubmit = document.getElementById("bookingSubmit");

                if (terms.checked) {
                        bookingSubmit.removeAttribute('disabled');
                } else {
                        bookingSubmit.setAttribute('disabled', true)
                }
        };
</script>
{% endblock %}