{% extends "base.html" %}

{% block content %}
<div class="contact-image">
    <div class="page-container">
        <div class="class m-2">
            {% if message_name %}
            <center class="text-white">
                <h3>Thanks {{ message_name }}!</h3>
                <p>We received your email and will respond shortly...</p>
            </center>
            {% else %}
            <h1 class="text-center">Contact Us</h1>
            <small class="form-text pb-2 text-center">We'll never share your data with anyone else.</small>
            <form method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="message_name" class="form-control w-50" id="message_name"
                        aria-describedby="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="message_email" class="form-control w-50" id="message_email"
                        aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <input type="text" name="message_phone" class="form-control w-50" id="message_phone"
                        pattern="^[0-9]{5,20}$" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <textarea name="message" class="form-control" id="message" cols="50" rows="5"
                        placeholder="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endif %}

        </div>
    </div>

</div>

{% endblock %}