{% extends "base.html" %}

{% block content %}
<div class="">
    <div class="page-container">
        <div class="class mt-5 text-center">
            <h1 class="text-center error-page"><span>4</span><span>0</span><span>4</span></h1>
            <h3 class="form-text pb-2 text-center">Looks like something went wrong.</h3>
            <p>Not to worry please click on the button below to navigate back to the home page.</p>
            <a href="{% url 'home' %}"><button type="button" class="text-center btn btn-info">Back to home</button></a>

        </div>
    </div>

</div>

{% endblock %}