{% extends "base.html" %}

{% block content %}
<div class="row no-gutters hero-image">
    <div class="col-12 text-white text-center">
        <h1 class="p-5">Affordable accomodation in Bridge of Orchy right on the West Highland Way</h1>
    </div>
    <div class="col-12 text-center">
        <button class="bg-info text-white text-weight-bold book-btn border-0 rounded py-2 px-4" type="button"><a class="text-white" href="{% url 'booking' %}">Check Availability</a></button>
    </div>
</div>

{% endblock %}