{% extends "base.html" %}
{% load static %}

{% block extra_js %}
<script src="{% static 'home/js/booking.js'  %}" defer></script>
{% endblock %}

{% block content %}
<div class="page-container text-center m-3">
        <h1>Weekly Planner</h1>
        <hr>
        <div class="booking-engine">
                <h3>This week arrivals</h3>
                <hr>
                <div class="row no-gutters" id="days">
                        <div class="col-lg-2 col-4 p-0">
                                <div class="planner-w">Dates</div>
                                <hr>
                                <div class="p-2 planner-w">{{ date1|date:"D, d-M" }}</div>
                                <div class="p-2 planner-w">{{ date2|date:"D, d-M" }}</div>
                                <div class="p-2 planner-w">{{ date3|date:"D, d-M" }}</div>
                                <div class="p-2 planner-w">{{ date4|date:"D, d-M" }}</div>
                                <div class="p-2 planner-w">{{ date5|date:"D, d-M" }}</div>
                                <div class="p-2 planner-w">{{ date6|date:"D, d-M" }}</div>
                                <div class="p-2 planner-w">{{ date7|date:"D, d-M" }}</div>
                        </div>

                        <div class="col-lg-3 col-4 p-0">
                                <div>
                                        <div class="planner-w">Beinn Monk</div>
                                        <hr>
                                        {% if podA1 %}
                                        {% for test in podA1 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podA1" aria-expanded="false"
                                                                        aria-controls="podA1">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podA1" class="collapse"
                                                                aria-labelledby="podA1" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date1|date:"Y-m-d" in podA|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podA2 %}
                                        {% for test in podA2 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podA2" aria-expanded="false"
                                                                        aria-controls="podA2">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podA2" class="collapse"
                                                                aria-labelledby="podA2" data-parent="#accordion">
                                                                <div class="card-body text-left">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date2|date:"Y-m-d" in podA|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podA3 %}
                                        {% for test in podA3 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podA3" aria-expanded="false"
                                                                        aria-controls="podA3">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podA3" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date3|date:"Y-m-d" in podA|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podA4 %}
                                        {% for test in podA4 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podA4" aria-expanded="false"
                                                                        aria-controls="podA4">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podA4" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date4|date:"Y-m-d" in podA|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podA5 %}
                                        {% for test in podA5 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podA5" aria-expanded="false"
                                                                        aria-controls="podA5">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podA5" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date5|date:"Y-m-d" in podA|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podA6 %}
                                        {% for test in podA6 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podA6" aria-expanded="false"
                                                                        aria-controls="podA6">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podA6" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date6|date:"Y-m-d" in podA|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podA7 %}
                                        {% for test in podA7 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podA7" aria-expanded="false"
                                                                        aria-controls="podA7">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podA7" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date7|date:"Y-m-d" in podA|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}
                                </div>

                        </div>

                        <div class="col-lg-3 col-4">
                                <div>
                                        <div class="planner-w">Beinn Otter</div>
                                        <hr>
                                        {% if podB1 %}
                                        {% for test in podB1 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podB1" aria-expanded="false"
                                                                        aria-controls="podB1">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podB1" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date1|date:"Y-m-d" in podB|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podB2 %}
                                        {% for test in podB2 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podB2" aria-expanded="false"
                                                                        aria-controls="podB2">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podB2" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date2|date:"Y-m-d" in podB|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podB3 %}
                                        {% for test in podB3 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podB3" aria-expanded="false"
                                                                        aria-controls="podB3">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podB3" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date3|date:"Y-m-d" in podB|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podB4 %}
                                        {% for test in podB4 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podB4" aria-expanded="false"
                                                                        aria-controls="podB4">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podB4" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date4|date:"Y-m-d" in podB|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podB5 %}
                                        {% for test in podB5 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podB5" aria-expanded="false"
                                                                        aria-controls="podB5">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podB5" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date5|date:"Y-m-d" in podB|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podB6 %}
                                        {% for test in podB6 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podB6" aria-expanded="false"
                                                                        aria-controls="podB6">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podB6" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date6|date:"Y-m-d" in podB|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}

                                        {% if podB7 %}
                                        {% for test in podB7 %}
                                        <div id="accordion">
                                                <div class="">
                                                        <div class="" id="headingOne">
                                                                <button class="bg-success planner-w text-white p-2 text-center"
                                                                        data-toggle="collapse"
                                                                        data-target="#podB7" aria-expanded="false"
                                                                        aria-controls="podB7">
                                                                        {{ test.fname }} {{ test.lname }}
                                                                </button>
                                                        </div>
                                                        <div id="podB7" class="collapse"
                                                                aria-labelledby="headingOne" data-parent="#accordion">
                                                                <div class="card-body">
                                                                        <p>Booking ID: <a href="{% url 'reservation_details' test.booking_id %}">{{test.booking_id}}</a></p>
                                                                        <p>Nights: {{test.nights}}</p>
                                                                        <p>PAX: {{test.pax}}</p>
                                                                        <p>Rate: {{test.podA_rate}}</p>
                                                                        <p>Total Cost: {{test.total_cost}}</p>
                                                                        <p>Phone: <a href="tel:{{test.phone_number}}">{{test.phone_number}}</a></p>
                                                                        <p>Email: <a href="mailto:{{test.email}}">{{test.email}}</p></a>
                                                                        <p>Notes: {{test.notes}}</p>
                                                                        <p>ETA: {{test.eta}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                        </div>
                                        {% empty %}
                                        {% endfor %}
                                        {% else %}
                                        {% if date7|date:"Y-m-d" in podB|join:" " %}
                                        <div class="bg-warning text-center planner-w p-2 text-white">Stayover</div>
                                        {% else %}
                                        <div class="bg-danger text-center planner-w p-2 text-white">No Arrival</div>
                                        {% endif %}
                                        {% endif %}
                                </div>

                        </div>
                </div>

        </div>
</div>
</div>

<!-- No availability Modal -->
<div class="modal fade" id="no_availability" tabindex="-1" role="dialog" aria-labelledby="no_availability"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header border-0">
                        </div>
                        <div class="modal-body text-center">
                                <h3>Sorry!</h3>
                                <p>
                                        No availability for this pod on this day.
                                </p>
                        </div>
                        <div class="modal-footer border-0">
                                <button type="button" class="btn btn-secondary btn-danger"
                                        data-dismiss="modal">Close</button>
                        </div>
                </div>
        </div>
</div>

<!-- Booking Modal -->
<div class="modal fade" id="availability" tabindex="-1" role="dialog" aria-labelledby="availability" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5>Booking Summary</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <form action="">
                                <div class="form-group">
                                        <div class="modal-body">
                                                <h5>Beinn Monk</h5>
                                                <div class="muted">
                                                        <p class="d-none" id="firstDate">{{firstDate}}</p>
                                                        <p>Arrival Date: <span class="float-right" id="dateTest"></span>
                                                        </p>
                                                        <p>Max occupancy: <span class="float-right">Sleeps 2</span></p>
                                                </div>
                                                <div class="text-center">
                                                        <select class="border-info p-2 rounded-2"
                                                                oninput="changeBooking()" name="nights" id="nights">
                                                                <option id="dep1" value="1">1 night - Departing Wed 31
                                                                        Aug
                                                                </option>

                                                                <option id="dep2" value="2">2 nights - Departing Thu 1
                                                                        Sep
                                                                </option>
                                                                <option id="dep3" value="3">3 nights - Departing Fri 2
                                                                        Sep
                                                                </option>
                                                                <option id="dep4" value="4">4 nights - Departing Sat 3
                                                                        Sep
                                                                </option>
                                                        </select>
                                                </div>
                                                <div>
                                                        <p>Room only <span class="float-right">£<span
                                                                                id="rate_rm1">75</span>.00</span> </p>

                                                </div>
                                                <div>
                                                        <p>Total Cost <span class="float-right">£<span
                                                                                id="rate_total"></span>.00</span> </p>


                                                </div>

                                                <div id="guest_info" class="d-none">
                                                        <hr>
                                                        <div class="p-2">
                                                                <input class="form-control w-75 rounded-2 border-info"
                                                                        type="text" name="firstname" id="firstname"
                                                                        placeholder="Firstname">
                                                        </div>
                                                        <div class="p-2">
                                                                <input class="form-control w-75 rounded-2 border-info"
                                                                        type="text" name="lastname" id="lastname"
                                                                        placeholder="Lastname">
                                                        </div>
                                                        <div class="p-2">
                                                                <input class="form-control w-75 rounded-2 border-info"
                                                                        type="text" name="phone" id="phone"
                                                                        placeholder="Phone number">
                                                        </div>
                                                        <div class="p-2">
                                                                <input class="form-control w-75 rounded-2 border-info"
                                                                        type="email" name="email" id="email"
                                                                        placeholder="Email">
                                                        </div>
                                                        <div class="p-2">
                                                                <textarea
                                                                        class="form-control w-75 rounded-2 border-info"
                                                                        name="notes" id="notes" cols="30" rows="5"
                                                                        placeholder="Notes"></textarea>
                                                        </div>
                                                        <div class="form-check py-1">
                                                                <input type="checkbox" class="form-check-input"
                                                                        id="terms">
                                                                <label class="form-check-label" for="terms"> I accept
                                                                        the <a href="http://" target="_blank"
                                                                                rel="noopener noreferrer">Terms and
                                                                                Conditions</a></label>
                                                        </div>
                                                </div>
                                                <div id="booking_step" class="float-right p-2">`
                                                        <button type="button" id="booking_step1"
                                                                onclick="display_guestInfo()"
                                                                class="btn btn-secondary btn-success"
                                                                data-dismiss="modal">Continue Booking</button>
                                                </div>
                                        </div>
                                        <div id="booking_submit" class="modal-footer border-0 d-none float-right">
                                                <button type="button" class="btn btn-secondary btn-success"
                                                        data-dismiss="modal">Book</button>
                                                <button type="button" class="btn btn-secondary btn-danger"
                                                        data-dismiss="modal">Cancel</button>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
</div>

{% endblock %}