asgiref==3.7.2
boto3==1.28.84
botocore==1.31.84
dj-database-url==2.1.0
Django==3.2
django-allauth==0.41.0
django-countries==7.2.1
django-crispy-forms==1.14.0
django-money==3.4.0
django-storages==1.14.2
gunicorn==21.2.0
jmespath==1.0.1
oauthlib==3.2.2
py-moneyed==3.0
PyJWT==2.8.0
python3-openid==3.2.0
pytz==2023.3
requests-oauthlib==1.3.1
s3transfer==0.7.0
sqlparse==0.4.4
