

.hero-image {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(/media/pods.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    min-height: calc(100vh - 285px);
    justify-content: center;
}

.map-image {
    height: 250px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.page-container {
    min-height: 70vh;
}

.plus-sign {
    position: relative;
    left: 5rem;
}