

.hero-image {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(/media/pods.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    height: calc(100vh - 285px);
    justify-content: center;
}

.about-image {
    background:
        url(/media/about_image.jpg) no-repeat left center;
    background-size: cover;
    display: flex;
    min-height: calc(100vh - 285px);
    justify-content: center;
}
.booking-image {
    background:
        url(/media/about_image.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
}

.contact-image {
    background:
        url(/media/contact_orchy.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    min-height: calc(100vh - 285px);
    justify-content: center;
}

.error-page {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -10px;
    text-shadow: -1px 0 white, 0 2px white, 2px 0 white, 0 -1px white;
}

.nav-item {
    font-size: 18px;
}

.carousel-inner {
    box-shadow: 5px 10px 8px #757575
}

.map-image {
    max-height: 280px;
    padding: 1rem;
}

footer {
    background-color: #17a2b8;
    opacity: 0.9
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.page-container {
    min-height: 70vh;
}

.plus-sign {
    position: relative;
    left: 5rem;
}

.booking-square {
    height: 45px;
    width: 45px;
    text-align: center;
}

.booking-square :hover {
    font-size: larger;
    text-decoration: none;
}

.booking-title {
    width: 100px;
}

div select {
    display: block;
    margin: auto;
    border-radius: 0.25rem;
 }

div input {
    display: block;
    margin: auto;
    border-radius: 0.25rem;
    text-align: center;
    border: 1px solid;
}

.message-container {
    position: fixed;
    top: 98px;
    right: 15px;
    z-index: 999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

#table-title th {
    font-size: smaller;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.available_square {
    width: 35px;
    height: 35px;
    background-color: #28a745!important;
    margin-top: 1rem;
}

.booked_square {
    width: 35px;
    height: 35px;
    background-color: #dc3545!important;
    margin-top: 1rem;
}

.unavailable_square {
    width: 35px;
    height: 35px;
    background-color: #6c757d!important;
    margin-top: 1rem;
}

.planner-w {
    border: 1px solid white;
    width: 100%;
}

.card-body p {
    margin-bottom: 0.5rem;
}


/* Media Queries */

@media only screen and (max-width: 992px) {
    .map-image {
        max-height: 450px;
    }

    .hero-image {
        height: auto;
    }

    .booking-square {
        width: 14%;
    }

    .d-day {
        display: none!important;
    }

}

@media only screen and (max-width: 768px) {
    .title {
        padding: 1rem;
    }

    .map-image {
        width: 550px;
    }

  
}

@media only screen and (max-width: 568px) {
    .map-image {
        width: 375px;
    }

    .room_details {
        padding: 0!important;
    }

    .planner-w {
        width: 120px;
        font-size: smaller;
    }

    .card-body p {
        font-size: smaller;
    }

    #headingOne, #accordion {
        width: 120px;
    }
}