

.hero-image {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url(/media/pods.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    height: calc(100vh - 285px);
    justify-content: center;
}

.about-image {
    background:
        url(/media/about_image.jpg) no-repeat left center;
    background-size: cover;
    display: flex;
    min-height: calc(100vh - 285px);
    justify-content: center;
}
.booking-image {
    background:
        url(/media/about_image.jpg) no-repeat center center;
    background-size: cover;
    display: flex;
    height: 300px;
    width: 300px;
    justify-content: center;
}

.contact-image {
    background:
        url(/media/contact_orchy.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    min-height: calc(100vh - 285px);
    justify-content: center;
}

.nav-item {
    font-size: 18px;
}

.carousel-inner {
    box-shadow: 5px 10px 8px #757575
}

.map-image {
    max-height: 280px;
    padding: 1rem;
}

footer {
    background-color: #17a2b8;
    opacity: 0.9
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.page-container {
    min-height: 70vh;
}

.plus-sign {
    position: relative;
    left: 5rem;
}

.booking-square {
    height: 45px;
    width: 45px;
    text-align: center;
}

.booking-square :hover {
    font-size: larger;
    text-decoration: none;
}

.booking-title {
    width: 100px;
}

div select {
    display: block;
    margin: auto;
    border-radius: 0.25rem;
 }

div input {
    display: block;
    margin: auto;
    border-radius: 0.25rem;
    text-align: center;
    border: 1px solid;
}


/* Media Queries */

@media only screen and (max-width: 992px) {
    .map-image {
        max-height: 450px;
    }

    .hero-image {
        height: auto;
    }

    .booking-square {
        width: 14%;
    }

    .d-day {
        display: none!important;
    }

}

@media only screen and (max-width: 768px) {
    .title {
        padding: 1rem;
    }

    .map-image {
        width: 550px;
    }

  
}

@media only screen and (max-width: 568px) {
    .map-image {
        width: 375px;
    }
}